/*
body {
    background-color: gray;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: rgb(244, 164, 96);
}
p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(72, 209, 204);
}
ul {
    font-family: 'Open Sans', sans-serif;
    color: rgb(72, 209, 204);
}
li {
    float: left;
    display: block;
    text-align: center;
    padding: 8px;
}
*/