.headers {
    list-style-type: none;
    width: 100%;
    background: red;
}
.headers sections{
    float: left;
    display: block;
    text-align: center;
    padding: 8px;
    padding-right: 13px;
    padding-left: 13px;
    background: linear-gradient(to right, blue, pink);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

}
li {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}